// Define variables for your color scheme

// Ours colors
$blue: #679BF7;
$yellow: #FEC700;
$orange: #F14D1B;
$purple: #C6B8FF;
$dark-blue: #5550F3;

// Default colors
$red: #FD1015;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
