#intro {
  display: flex;
  // justify-content: space-between;
  background-color: white;
  border-top: 1px solid $pigeons-gray;
  // padding: 75px 0 75px 0;
  // margin: 0 150px 0 150px;

  // .intro-left {
  //   padding-top: 20px;
  // }

  // .intro-right {
  //   color: grey;
  //   font-size: 20px;
  //   padding-top: 25px;
  //   margin-left: 70px;
  //   text-align: right;

    // .title {
    //   font-weight: bold;
    // }
  // }
}


@media (min-width: 100px) and (max-width: 800px) {
  #intro {
    flex-wrap: wrap;
  }

  .intro-left, .intro-right {
    text-align: center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 35px;
  }

  .flex-box {
    justify-content: space-around !important;
  }
// .flex-item-right, .flex-item-left {
  //   flex-direction: column !important;
  //   text-align: center !important;
  //   margin-left: 0 !important;
  //   margin-right: 0 !important;
  //   padding-top: 35px;
  // }
}

@media (min-width: 801px) {
  #intro {
    display: flex;
    padding: 75px 0 75px 0;
    margin: 0 150px 0 150px;
  }

  .intro-left {
    padding-top: 20px;
  }

  .intro-right {
    color: grey;
    font-size: 20px;
    padding-top: 25px;
    margin-left: 70px;
    text-align: right;

    .title {
      font-weight: bold;
    }
  }
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .flex-item-left {
    margin-left: 50px;
  }

  .flex-item-right {
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


.list{
  padding: 0 50px 0 50px;
}

.good_memory {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: white;
  border: $pigeons-gray;
  border-radius: 10px;

  .row {
    justify-content: space-between;
  align-items: center;
  }
}

.good_memory_infos {
  padding-right: 30px;
}

.good_memory h2 {
  text-align: end;
}

.good_memory p {
  color: gray;
  text-align: end;
  padding-top: 15px;
  font-size: 18px;
}
