.intro {
  background-color: white;
  border-top: 1px solid $pigeons-gray;
  align-items: center;
  padding: 0 70px 0 130px;
}

.list{
  padding: 0 80px 0 80px;
}

.good_memory {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: white;
  border: $pigeons-gray;
  border-radius: 10px;

  .row {
    justify-content: space-between;
    align-items: center;
  }
}

.good_memory_infos {
  padding-right: 30px;
}

.good_memory h2 {
  text-align: end;
}

.good_memory p {
  color: gray;
  text-align: end;
  padding-top: 15px;
  font-size: 18px;
}
