// Specific CSS for your home-page

// Banner
.banner {
  padding: 100px 0;

  .row {
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin: 0;
    color: black;
  }

  p {
    margin-bottom: 30px;
  }
}

// Benefits cards
.cards {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.benefits-card {
  width: 320px;
  display: block;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  padding: 45px;
  margin: 20px;
  color: black;

  p {
    padding: 0;
    margin: 0;
  }

  i {
    font-size: 30px;
    padding-bottom: 10px;
  }
}

// CTA
.cta {
  padding-top: 100px;
  padding-bottom: 200px;

  h2 {
    // text-align: center;
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 50px;
  }
}
