// Recommendation cards grid


// h1, h2, and obstacle resolved button/card
.recos-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 0px;
  margin-left:14px;

  p {
    font-weight: 500px;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 5px;
    color: grey !important;
  }

  .subtitle {
    font-size: 25px;
    color: grey !important;
    padding-top: 5px;
  }
}

// "This obstacle has been marked as resolved" card
.obstacle-resolved-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  color: black;

  p {
    padding: 5px;
    margin: 0;
    font-size: 18px;
  }
}

// Back to obstacles page link
.grey-link{
  border: none !important;
  background-color: white !important;
  color: rgb(104, 104, 104) !important;
}
