<%= form_with  url: "/entries", method: :get  do |form| %>
<div class="d-flex justify-content-around align-items-center" >
  <div>
    <%= form.datetime_field :To,
                data: {controller: "flatpickr"},
                class:"entry_calendar_left",
                placeholder: 'To                                    |   From                                    ',
                label:false %>
  </div>

  <div>
    <button type="submt" class="btn entry_calendar_search">
        <i class="fa-solid fa-magnifying-glass text-light"></i>
    </button>
  </div>
</div>
<% end %>
