<%= simple_form_for "/entries", method: :get do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :opens_at, as: :string,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
    </div>
    <div class="col">
      <%= f.input :closes_at, as: :string,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
    </div>
  </div>
  <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
<% end %>
