<% @entries_by_months.each do |key, value| %>
    <swiper-slide>
      <div class="row">
          <h2>
              <%= Date::MONTHNAMES[key] %> 2023
          </h2>
            <% value.each do |entry| %>
              <div class="col-sm-3">
                <div class="entries_cards">
                  <a href="<%= edit_entry_path(entry) %>">
                    <div class="entries_card">
                        <%= render "entries_card", entry: entry %>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>
        </div>
    </swiper-slide>
<% end %>
