<div>
  <p class="gratefulness_title">Your Gratefulness statement of the day</p>
  <% if @rand_gratefulness.nil? %>
      <p class="gratefulness_p">Start writing on your journal to receive daily gratefulness inspiration!</p>
  <% else %>
      <p class="gratefulness_p"><%= @rand_gratefulness.content %></p>
      <p class="gratefulness_p">You wrote about this on: <%= @rand_gratefulness.created_at.strftime("%d %B %Y") %></p>
  <% end %>
</div>
