<div class="entries_top">
  <%= "#{entry.date.strftime("%A")}, #{entry.date.strftime("%B")} #{entry.date.day}" %>
</div>

<div class ="entries_bottom" >
  <p><%= "#{entry.content}" %></p>
</div>

<div class ="entries_read">
    <%= entry.sentiment %>
</div>
