
<div class="container">
    <div>
        <%= render "daily_gratefulness" %>
    </div>

    <h3>Your Recent entries</h3>

    <div class="d-flex" style="gap:10px">
        <%@entries.each do |entry|  %>
        <button class="btn" onclick="location.href='/entries/<%=entry.id%>/edit'" >
          <div class="entries_card">
              <%= render "entries_card", entry: entry %>
          </div>
        </button>
        <% end %>
    </div>
    <%= link_to "New", new_entry_path %>
</div>
