<div class="row">
  <%# banner text %>
  <div class="col-12 col-lg-6">
    <h1>This is placeholder text for now</h1>
    <p>Tagline about this mind-blowing, amazing, perfect, cool app. Start writing today!</p>
    <a class="button" href="#">SIGN UP</a>
  </div>
  <%# banner image %>
  <div class="col-12 col-lg-6 text-center">
    <%= image_tag('home_banner_image.png') %>
  </div>
</div>
