<div class="row">
  <%# banner text %>
  <div class="col-12 col-lg-6">
    <h1 class="pb-2">The Smart Journal That Helps You <span data-controller="annotate">Take Action</span></h1>
    <p class="pb-2">Gain insights, gain perspective and gain clarity.</p>
    <br>
    <a class="button" href="#">GET STARTED</a>
  </div>
  <%# banner image %>
  <div class="col-12 col-lg-6 text-center">
    <%= image_tag('home_banner_image.png') %>
  </div>
</div>
