<div class="row">
  <%# banner text %>
  <div class="col-12 col-lg-6">
    <h1 class="pb-2">The Smart Journal That Helps You Take <span id="home-annotate">Action</span></h1>
    <p class="pb-2">Gain insights, gain perspective and gain clarity.</p>
    <a class="button" href="#">SIGN UP</a>
  </div>
  <%# banner image %>
  <div class="col-12 col-lg-6 text-center">
    <%= image_tag('home_banner_image.png') %>
  </div>
</div>
