<div class="benefits-card" style="background-color:#C6B8FF;">
  <i class="fa-regular fa-face-smile"></i>
  <h3>Practice positive thinking</h3>
  <hr>
  <p>Apply positive psychology to your life</p>
</div>

<div class="benefits-card" style="background-color:#F14D1B; color:white">
  <i class="fa-solid fa-brain"></i>
  <h3>Powered by artificial intelligence</h3>
  <hr>
  <p>AI identifies patterns in your entries</p>
</div>

<div class="benefits-card" style="background-color:#FEC700;">
  <i class="fa-solid fa-check"></i>
  <h3>Data-driven recommendations</h3>
  <hr>
  <p>Take action to overcome life's obstacles</p>
</div>
