<div class="entries_card">
  <div class="entries_top">
    Friday, June 9
  </div>
  <div class ="entries_bottom" >
    <p>Will I find a job after the bootcamp?</p>
  </div>
  <div class ="entries_read">
    <div>
      Read
    </div>
    <div>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>


<div id="home-reco-card"class="reco-card">
  <div class="reco-card-img">
  </div>
  <div class ="reco-card-text">
    <h3>Reframe</h3>
    <p>Try reframing your thought to xyz...</p>
  </div>
</div>
