<div class="container" data-controller="annotate">
  <div class="banner">
    <%= render "banner" %>
  </div>

  <div class="container">
    <h2 class="text-center">Why choose Day by Day?</h2>
    <div class="cards">
      <%= render "benefits_cards" %>
    </div>
  </div>

  <div class="container">
    <div class="cta text-center">
      <h2>Start your <span data-annotate-target="cta">inner work</span></h2>
      <a class="button" href="/entries">GO</a>
    </div>
  </div>
</div>
