<div class="banner">
  <%= render "banner" %>
</div>

<div class="container">
  <h2 class="text-center">Why choose Day by Day?</h2>
  <div class="cards">
    <%= render "benefits_cards" %>
  </div>
</div>

<div id="feature-cards">
  <div class="row">
    <div class="col-8">
      <%= render "features" %>
    </div>
    <div class="col-4">
      <h2>Get customized recommendations for obstacles you face</h2>
    </div>
  </div>
</div>
