.button{
  border-radius: 30px;
  background-color: #5550F3;
  color: white;
  padding: 20px 40px 20px 40px;
}

.bootstrap-override-button{
  border-radius: 30px;
  background-color: #5550F3;
  color: white;
  padding: 15px;
  border: none !important;
}

.new_button {
  border-radius: 30px;
  background-color: #5550F3;
  color: white;
  padding: 16px 40px 14px 40px;
  // margin-left: 50px;
  i {
    margin-right: 10px;
  }
}
.new_button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.save_button{
  border-radius: 30px;
  background-color: #5550F3;
  color: white;
  padding: 5px 40px 5px 40px;
  border: none;
}

.danger_button{
  border-radius: 30px;
  background-color: #F14D1B;;
  color: white;
  padding: 10px 35px 10px 35px;
}
