.entry_calendar{
  width: 250px;
  border-radius: 20px;
  padding: 10px 20px;
  border-style:none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.entries_cards{
  // display:flex;
  // align-items: center;
  // justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // display: inline-block;
  // padding: 50px;
}


.entries_card {
  width: 250px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;

}

.entries_top{
  background-color: $blue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 8px;
}

.entries_bottom{
  text-align: start;
  height: 100px;
  text-decoration: underline;
  text-decoration-color: lightgrey;
  padding: 12px 8px;
  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  padding-left: 20px;
  padding-right: 20px;
}

.entries_read{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 20px;
  font-size: 20px;
}


.entries_flex{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.entries_logo{
  background-image: url("Group21.png");
  background-size:cover;
  // background-position: center;
  height:100px;
  width: 350px;
  font-weight: bold;
  font-size: 50px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .entries_cards{
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .entries_cards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .entreis_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .entreis_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .entreis_cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
