.footer {
  background-color: white;
  color: #6A6A6A;
  text-align: center;
  // line-height: 1.5;
  height: 150px;
  padding: 20px;
  margin: auto;

  a {
    text-decoration: none;
    color: #6A6A6A;
  }

  .fine-print {
    font-size: 12px;
  }
}
