.gratefulness{
  width: 500px;
  height: 200px;
  // display: flex;
  // align-items: center;
}

.gratefulness_title{
  color:grey;
  text-align: right;
  font-size: 20px;
  font-weight:bold;
}

.gratefulness_p{
  color:lightgrey;
  font-size:12px;
}
