.loading_card {
  // background: #FFFFFF;
  border-radius: 20px;
}

.loading_margins {
  padding: 100px 0px;
}

.loading_text {
  padding: 0px 200px;
  padding-bottom: 50px;
}

.loading_gif {
  width: 100px;
}

.hidden {
  display: none;
}
