.obstacle-done-card {
  display: flex;
  // width: 500px;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  background-color: white;
  padding: 45px;
  margin: 20px;
  color: black;

  p {
    padding: 0;
    margin: 0;
  }
}
