.obstacle-done-card {
  display: flex;
  width: 350px;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  background-color: white;
  padding: 45px;
  margin: 20px;
  color: black;
  justify-content: space-between;
  align-items: center;

  p {
    padding: 0;
    margin: 0;
  }
}
