.obstacle-done-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.obstacle-done-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  margin: 20px;
  color: black;
  transition: box-shadow .3s;

  p {
    padding-left: 15px;
    margin: 0;
  }

  .fa-circle-check {
    font-size: 30px;
    color: $yellow;
  }

  .obstacle-done-infos {
    display: flex;
    align-items: center;
  }
}

.obstacle-done-card:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

// Card that appears on obstacle show page ("this obstacle has been resolved"
.obstacle-resolved-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  color: black;

  p {
    padding: 5px;
    margin: 0;
  }
}
