.obstacle-card {
  display: block;
  width: 550px;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  background-color: white;
  padding: 45px;
  margin: 20px;
  color: black;

  p {
    padding: 0;
    margin: 0;
  }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: $yellow;
  border-radius: 50%;
  display: inline-block;
}

.obstacle-card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
