.obstacle-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

#obstacle-header {
  padding-bottom: 50px;
  margin-left: 180px;
  margin-right: 180px;

  h1 {
    padding-bottom: 30px;
  }

  p {
    text-align: center;
    font-size: 18px;
    color: grey;
    padding-bottom: 30px;

  }
}

.obstacles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.obstacle-card {
  display: block;
  width: 550px;
  border: 1px solid;
  border-color: #EAEAEA;
  border-radius: 10px;
  background-color: white;
  padding: 45px;
  color: black;
  transition: box-shadow .3s;

  h3 {
    margin-top: 10px;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.obstacle-card:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dot {
  height: 30px;
  width: 30px;
  background-color: $yellow;
  border-radius: 50%;
  display: inline-block;
}

.obstacle-card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
