.path_bar {
  background-color: white;
  padding: 20px 0 20px 110px;
  border-top: 1px solid rgb(232, 232, 232);
  border-bottom: 1px solid rgb(232, 232, 232);
  a {
    color: gray;
  }

  i {
    padding-right: 10px;
  }
}
