.reco-card {
  // border: 1px solid;
  border-radius: 10px;
  padding-bottom: 30px;
 }

 .reco-card-img {
   padding: 12px 8px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: $yellow;
 }

 .reco-card-text {
   background-color: white;
   padding: 12px 8px;
  //  white-space: nowrap;
  //  overflow: hidden;
  //  text-overflow: ellipsis;
 }
