<% @done_obstacles.each do |d_obstacle| %>
    <a href="<%= obstacle_path(d_obstacle) %>" class="obstacle-done-card">
      <div class="obstacle-done-infos">
        <i class="fa-solid fa-circle-check"></i>
        <p><%= d_obstacle.title %></p>
      </div>
      <i class="fa-solid fa-arrow-right"></i>
    </a>
<% end %>
