  <div class="obstacle-card" data-obstacle-loading-target="generating">
    <div class="obstacle-card-infos text-center">
      <h3>Generating an obstacle based on your last journal entry...</h3>
        <%# <p>Please wait...</p> %>
        <%= image_tag "loading.gif", style: 'width: 50px; padding-top: 5px'  %>
    </div>
  </div>
