<a href="<%= obstacle_path(obstacle) %>" class="obstacle-card">
  <div class="obstacle-card-infos">
    <div class="dot"></div>
    <h3><%= obstacle.title %></h3>
    <hr>
    <div class="obstacle-card-link">
      <p>Recommendations</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</a>
