<div class="reco-card-top">
</div>

<div class ="reco-card-text">
  <% case recommendation.category %>
  <% when "Reframing" %>
    <h3>Reframe</h3>
  <% when "Visualization" %>
    <h3>Visualize</h3>
  <% when "Compassion" %>
    <h3>Show Compassion</h3>
  <% when "Feel Emotions" %>
    <h3>Feel Emotions</h3>
  <% end %>
  <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
    <p class="my-content" data-read-more-target="content">
      <%= recommendation.content %>
    </p>
    <button class="grey-link" data-action="read-more#toggle">Read more</button>
  </div>
</div>
