<div class="reco-card-top">
  <% case recommendation.category %>
  <% when "Reframing" %>
    <h3 class="purple_title">Reframe</h3>
  <% when "Visualization" %>
    <h3 class="purple_title">Visualize</h3>
  <% when "Compassion" %>
    <h3 class="purple_title">Show Compassion</h3>
  <% when "Feel Emotions" %>
    <h3 class="purple_title">Feel Emotions</h3>
  <% when "Forgiveness" %>
    <h3 class="purple_title">Forgiveness</h3>
  <% end %>
</div>

<div class ="reco-card-text">
  <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
    <p class="my-content" data-read-more-target="content">
      <%= recommendation.content %>
    </p>
    <button class="grey-link" data-action="click->read-more#toggle">Read more</button>
  </div>
</div>
