<h1>My obstacles</h1>
<div class="row">
  <div class="col-12 col-lg-6">

    <% @user_obstacles.each do |obstacle| %>
      <%= render "obstacle_card", obstacle: obstacle %>
    <% end %>
  </div>
</div>

<% @done_obstacles = @obstacles.select { |obstacle| obstacle.done?} %>
<% unless @done_obstacles.count == 0 %>
  <%= render 'done_obstacles', obstacles: @obstacles %>
<% end %>
