<h1 class="text-center pt-5 pb-4">My obstacles</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <% @user_obstacles.each do |obstacle| %>
      <%= render "obstacle_card", obstacle: obstacle unless obstacle.done?%>
    <% end %>
  </div>
</div>

<h2>Obstacles I've overcome</h2>
<% unless @done_obstacles.count == 0 %>
  <%= render 'done_obstacles', obstacles: @done_obstacles %>
<% end %>
