<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <% @obstacles.each do |obstacle| %>
        <%= render "obstacle_card", obstacle: obstacle %>
      <% end %>
    </div>
  </div>
</div>
