<% @obstacles.each do |obstacle| %>
<div>
  <div>
    <h3><%= obstacle.title %></h3>
  </div>
  <%= link_to "Recommendations?", obstacle_path(obstacle) %>
</div>
<% end %>

<%= render "obstacle_card" %>
