<h1 class="text-center">My obstacles</h1>
<div class="row">
  <% @obstacles.each do |obstacle| %>
    <%= render "obstacle_card", obstacle: obstacle %>
  <% end %>
</div>

<% @done_obstacles = @obstacles.select { |obstacle| obstacle.done?} %>
<% unless @done_obstacles.count == 0 %>
  <%= render 'done_obstacles', obstacles: @obstacles %>
<% end %>
