<div class="row" id="obstacle-header" data-controller="annotate">
  <h1 class="col-lg-6 col-sm-12"><span data-annotate-target="underline">My obstacles</span></h1>
  <p class="col-lg-6 col-sm-12">Take action to overcome the obstacles you face</p>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-12">
      <% @obstacles.each do |obstacle| %>
        <%= render "obstacle_card", obstacle: obstacle unless obstacle.done?%>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-12">
      <iframe src="https://giphy.com/embed/ZMQpwaa37PXbsPYRoe"
              width="270" height="480" frameBorder="0" class="giphy-embed" allowFullScreen>
      </iframe>
    </div>
</div>

<div class="pb-5">
  <% unless @done_obstacles.count == 0 %>
    <h2 class="pt-5 pb-5">Obstacles I've overcome</h2>
    <div class="row justify-content-around">
      <%= render 'done_obstacles', obstacles: @obstacles %>
    </div>
  <% end %>
</div>
