<h1 class="text-center pt-5 pb-4">My obstacles</h1>

<% @done_obstacles = @obstacles.select { |obstacle| obstacle.done?} %>

<div class="row">
  <div class="row justify-content-around">
    <% @obstacles.each do |obstacle| %>
      <%= render "obstacle_card", obstacle: obstacle unless obstacle.done?%>
    <% end %>
  </div>
</div>

<% unless @done_obstacles.count == 0 %>
  <h2 class="text-center pt-5 pb-4">Obstacles I've overcome</h2>
  <div class="row justify-content-around">
    <%= render 'done_obstacles', obstacles: @obstacles %>
  </div>
<% end %>
