<div data-controller="annotate">
  <h1 class="text-center pt-5 pb-4"><span data-annotate-target="underline">My obstacles</span></h1>
</div>

<div data-controller="obstacle-loading" data-obstacle-loading-user-id-value="<%= current_user.id %>">

  <div class="row">
    <div class="row justify-content-around" data-obstacle-loading-target="list">
      <% @obstacles.each do |obstacle| %>
        <% if obstacle.status == "started" %>
          <%= render "loading_obstacle_card", obstacle: obstacle %>
        <% else %>
          <%= render "obstacle_card", obstacle: obstacle unless obstacle.done?%>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<% unless @done_obstacles.count == 0 %>
  <h2 class="text-center pt-5 pb-4">Obstacles I've overcome</h2>
  <div class="row justify-content-around">
    <%= render 'done_obstacles', obstacles: @obstacles %>
  </div>
<% end %>
