<div class="container">

  <h1><%= @obstacle.title %></h1>
  <br>

  <% @recommendations.each do |recommendation| %>

    <% if recommendation.category == "Reframing" %>
    <h3>Reframing</h3>
    <% elsif recommendation.category == "Visualization"  %>
    <h3>Visualization</h3>
    <% elsif recommendation.category == "Compassion" %>
    <h3>Compassion</h3>
    <% elsif recommendation.category == "Feel Emotions" %>
    <h3>Feel Emotions</h3>
    <% end %>

    <div>
      <%= link_to "details of recommendations", recommendation_path(recommendation) %>
    </div>
  <% end %>
</div>
