<div class="container">

  <h1><%= @obstacle.title %></h1>
  <br>

  <% @recommendations.each do |recommendation| %>
    <%= render "recommendation_card", recommendation: recommendation %>

    <div>
      <%= link_to "details of recommendations", recommendation_path(recommendation) %>
    </div>
  <% end %>

</div>
