// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Text elements

.container-content {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
}

h1 {
  font-size: 56px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

h3 {
  font-size: 25px;
  font-weight: normal;
}

p {
  font-size: 18px;
  font-weight: normal;
}
