// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";


// Or in your application.scss file
// @import "swiper/swiper-bundle";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "actiontext";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/material_blue";

// Added to app.html.erb to push footer to bottom. Can remove if needed
.container-content {
  min-height: 100vh;
  background-color: #F8F8F8;
  padding-left: 100px;
  padding-right: 100px;
}

// Text elements
h1 {
  font-size: 56px;
  font-weight: 600px;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.light-h2 {
  padding-top: 100px;
  font-weight: 300;
  color: grey !important;
}

h3 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -1.75px;
}

p {
  font-size: 18px;
  font-weight: normal;
}

a {
  text-decoration: none;
}
